<a href="https://colab.research.google.com/github/Flor37/Analisis-de-datos-con-Python/blob/main/lim_EcoFP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Flor37/Analisis-de-datos-con-Python/main/NFA2019public_data.csv')
df.head()

   country  year  country_code  ...    carbon         total  QScore
0  Armenia  1992             1  ...  0.000000  5.032351e-01      3A
1  Armenia  1992             1  ...  0.000000  1.732543e+06      3A
2  Armenia  1992             1  ...  0.000000  4.262086e-01      3A
3  Armenia  1992             1  ...  0.000000  1.467355e+06      3A
4  Armenia  1992             1  ...  1.114093  1.728629e+00      3A

[5 rows x 12 columns]

In [ ]:
df = df.drop(columns=['country_code'])

In [ ]:
df.columns = ['país', 'año', 'registro', 'tierras_cultivo', 'tierras_pastoreo', 'áreas_forestales','zonas_pesca','tierras_construidas', 'carbono', 'totalHG', 'QScore']
df.columns

Index(['país', 'año', 'registro', 'tierras_cultivo', 'tierras_pastoreo',
       'áreas_forestales', 'zonas_pesca', 'tierras_construidas', 'carbono',
       'totalHG', 'QScore'],
      dtype='object')

In [ ]:
df['país'] = df['país'].replace(['Venezuela, Bolivarian Republic of', 'Guinea-Bissau', "Côte d'Ivoire", 'Libyan Arab Jamahiriya',
                                 'Congo', 'Congo, Democratic Republic of', 'Tanzania, United Republic of', 'Serbia',
                                 'Macedonia TFYR', 'Syrian Arab Republic', 'Iran, Islamic Republic of', 'Russian Federation',
                                 "Korea, Democratic People's Republic of", 'Korea, Republic of', "Lao People's Democratic Republic",
                                 'Viet Nam'],['Venezuela', 'Guinea Bissau', 'Ivory Coast', 'Libya', 'Republic of Congo',
                                              'Democratic Republic of the Congo', 'United Republic of Tanzania', 'Republic of Serbia',
                                              'Macedonia', 'Syria', 'Iran', 'Russia', 'North Korea', 'South Korea', 'Laos',
                                              'Vietnam'])

In [ ]:
df.head()

      país   año      registro  ...   carbono       totalHG  QScore
0  Armenia  1992    AreaPerCap  ...  0.000000  5.032351e-01      3A
1  Armenia  1992     AreaTotHA  ...  0.000000  1.732543e+06      3A
2  Armenia  1992  BiocapPerCap  ...  0.000000  4.262086e-01      3A
3  Armenia  1992  BiocapTotGHA  ...  0.000000  1.467355e+06      3A
4  Armenia  1992  EFConsPerCap  ...  1.114093  1.728629e+00      3A

[5 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72181 entries, 0 to 72180
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   país                 72181 non-null  object
 1   año                  72181 non-null  int64
 2   registro             72181 non-null  object
 3   tierras_cultivo      51709 non-null  float64
 4   tierras_pastoreo     51709 non-null  float64
 5   áreas_forestales     51709 non-null  float64
 6   zonas_pesca          51709 non-null  float64
 7   tierras_construidas  51709 non-null  float64
 8   carbono              51709 non-null  float64
 9   totalHG              72173 non-null  float64
 10  QScore               72181 non-null  object
dtypes: float64(7), int64(1), object(3)
memory usage: 6.1+ MB

In [ ]:
#df['forest_land'].astype(float)

0        9.718805e-02
1        3.346000e+05
2        8.400321e-02
3        2.892071e+05
4        1.260000e-06
             ...
72176    5.111763e+09
72177    2.734954e-01
72178    2.042179e+09
72179    2.734954e-01
72180    2.042179e+09
Name: forest_land, Length: 72181, dtype: float64

In [ ]:
df = df.fillna(0)

In [ ]:
EcoFP = pd.DataFrame(df)

In [ ]:
EcoFP.to_csv('EcoFP.csv', index=False)

In [ ]:
pd.read_csv('/content/EcoFP.csv')

          país   año      registro  ...       carbono       totalHG  QScore
0      Armenia  1992    AreaPerCap  ...  0.000000e+00  5.032351e-01      3A
1      Armenia  1992     AreaTotHA  ...  0.000000e+00  1.732543e+06      3A
2      Armenia  1992  BiocapPerCap  ...  0.000000e+00  4.262086e-01      3A
3      Armenia  1992  BiocapTotGHA  ...  0.000000e+00  1.467355e+06      3A
4      Armenia  1992  EFConsPerCap  ...  1.114093e+00  1.728629e+00      3A
...        ...   ...           ...  ...           ...           ...     ...
72176    World  2016  BiocapTotGHA  ...  0.000000e+00  1.216928e+10      3A
72177    World  2016  EFConsPerCap  ...  1.646235e+00  2.746619e+00      3A
72178    World  2016  EFConsTotGHA  ...  1.229237e+10  2.050891e+10      3A
72179    World  2016  EFProdPerCap  ...  1.646235e+00  2.746619e+00      3A
72180    World  2016  EFProdTotGHA  ...  1.229237e+10  2.050891e+10      3A

[72181 rows x 11 columns]